<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questionário Concluído</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/opt_final.css') }}">
</head>

<body class="bg-white">
    <a href="#" onclick="history.back(); return false;" class="back-button" title="Voltar à página anterior">
        <svg class="back-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="back-text">Voltar</span>
    </a>
    
    <main class="w-full p-8 flex flex-col items-center text-center">
        
        <div class="mb-10 w-full text-center">
            <h1 class="text-custom-dark mb-2 text-h1-final">Muito bem! Agora dê o próximo passo</h1>
            <p class="text-p-final">
                Converse com os nossos terapeutas para poder entender-se melhor!
            </p>
        </div>

        <div class="flex justify-center w-full mt-10">
            <a href="{{ url_for('selecao') }}"
                class="card-ia-style rounded-xl cursor-pointer relative overflow-hidden">
                <div class="card-icon">
                    <img src="{{ url_for('static', filename='images/IA.png') }}" alt="IA Icon" class="card-icon-img" />
                </div>
            </a>
        </div>
    </main>
</body>

</html>