.description {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--text-dark);
    text-align: center;
    margin-bottom: 2rem;
    max-width: 600px;
}

.card-options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
    margin-top: 1rem;
}

.action-card {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.action-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
}

.action-card h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
    color: var(--primary-button-bg); /* Cor de destaque */
}

.action-card p {
    font-size: 1rem;
    color: var(--text-light);
    margin-bottom: 0;
}